body{
    display: flex;
    align-items: center;
    justify-content: center;
}

#calculator{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:500px;
    width: 400px;
    background-color: #3B413C;
}
#screen{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
    margin-bottom: 80px;
    height:50px;
    width:350px;
    background-color: #DAF0EE;
    color: #3B413C;
    font-size: 32px;
}

#keypad{
    display:flex;
    align-items: center;
    justify-content: space-around;
    gap:20px;
    width: auto;
    height: auto;
}
.numbers{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:4px;
    width: 188px;
    height: auto;
}
.number{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #9DB5B2;
    color: #3B413C;
    font-size: 16px;
    font-weight: bold;
}
#zero{
    width: 124px;
}

.operators{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:4px;
    width: 128px;
    height: auto;
}

.operator{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #94D1BE;
    color: #3B413C;
    font-size: 16px;
    font-weight: bold;
}
#equal,
#clear{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 124px;
    height: 60px;
    background-color: #90323D;
    color: #DAF0EE;
    font-size: 16px;
    font-weight: bold;

}

.operator,
.number,
#equal,
#clear{
    transition: all 0.2s;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
    filter: grayscale(30%);
        -webkit-filter: grayscale(30%);
        -moz-filter: grayscale(30%);
}

.operator:hover,
.number:hover,
#equal:hover,
#clear:hover{
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
}